<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>nudedisco</title>
  {{ style('https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css') }}
</head>
<body>
  <section class="section">
    <div class="container">

      <header class="header">
        <h1 class="title is-4">nudedisco</h1>
        <p class="subtitle is-6">A simple music library manager.<p>
      </header>
  
      <nav class="breadcrumb has-succeeds-separator" aria-label="breadcrumbs">
        <ul>
          <li class="{{ url == route('/') ? 'is-active' : '' }}">
            <a href="{{ route('/') }}">
              Home
            </a>
          </li>
          @!section('breadcrumbs')
        </ul>
      </nav>
  
      <div class="columns">
        <div class="column is-one-third-tablet">
          @include('menu')
        </div>
        <div class="column">
          @!section('content')
        </div>
      </div>

    </div>
  </section>

  <script type="text/javascript">
    window.__data__ =
    @section('data')
      {}
    @endsection
  </script>

  @!section('script')

</body>
</html>
