body {
  background: white;
  color: black;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  padding: 32px 0;
}

header {
  top: 0;
  right: 0;
  left: 0;
  color: #1b2940;
  font-size: 2em;
  font-family: MuseoModerno, Arial, Helvetica, sans-serif;
  letter-spacing: -1px;
  z-index: 1;
}

section {
  margin: 48px 0;
}

h4 a,
h4 a:active,
h4 a:visited {
  color: black;
}

h4 a:hover {
  text-decoration: underline;
}

.item a,
.item a:active {
  color: #1b2940;
  text-decoration: none;
}

.item a:visited {
  color: #afafaf;
}

.item p:last-of-type {
  margin-bottom: 0;
}

.item.link {
  border-bottom: 1px dotted #ddd;
  padding: 4px 0; 
}

.item.link:last-of-type {
  border: none;
}

.item.cover h5 {
  margin-bottom: 8px;
}

.item.cover img {
  border-radius: 4px;
  height: auto;
  margin-bottom: 8px;
}

.item ul,
.item br,
.item p:empty,
.item iframe {
  display: none;
}

@media screen and (max-width: 40.0rem) {
  .column {
    margin-bottom: 24px;
  }
}