@layout('layout')

@section('script')
  {{ script('albums.create') }}
@endsection

@section('data')
  { formats: {{{ toJSON(formats) }}} }
@endsection

@section('breadcrumbs')
  @super
  <li>
    <a href="{{ route('albums.index') }}">
      Albums
    </a>
  </li>
  <li class="is-active">
    <a href="{{ route('albums.create') }}">
      Create
    </a>
  </li>
@endsection

@section('content')
  {{ csrfField() }}
  <div class="__root"></div>
@endsection