@layout('layout')

@section('breadcrumbs')
  @super
  <li class="{{ url == route('albums.index') ? 'is-active' : '' }}">
    <a href="{{ route('albums.index') }}">
      Albums
    </a>
  </li>
@endsection

@section('content')
  @each(album in albums)
    <p>{{ album.title }}</p>
  @endeach
@endsection