body {
  background: white;
  color: black;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  padding: 32px 0;
}

header {
  top: 0;
  right: 0;
  left: 0;
  color: #1b2940;
  font-size: 2em;
  font-family: MuseoModerno, Arial, Helvetica, sans-serif;
  letter-spacing: -1px;
  z-index: 1;
}

section {
  margin: 48px 0;
}

h4 a,
h4 a:active,
h4 a:hover,
h4 a:visited {
  color: black;
}

h4 a:hover {
  text-decoration: underline;
}

.button {
  background: #1b2940;
  border-color: #1b2940;
}

.playlist {
  display: flex;
  font-size: 16px;
  gap: 18px;
}

.playlist .icon.mobile {
  display: none;
}

.playlist h4 {
  margin-bottom: 8px;
}

.item a,
.item a:active {
  color: #1b2940;
  text-decoration: none;
}

.item a:hover {
  color: #606c76;
}

.item a:visited {
  color: #767676;
}

.item p:last-of-type {
  margin-bottom: 0;
}

.item.link {
  border-bottom: 1px dotted #ddd;
  padding: 4px 0;
}

.item.link:last-of-type {
  border: none;
}

.item.cover h5 {
  margin-bottom: 8px;
}

.item.cover img {
  aspect-ratio: 1;
  border-radius: 4px;
  height: auto;
  margin-bottom: 8px;
}

.item ul,
.item br,
.item p:empty,
.item iframe {
  display: none;
}

footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 13px;
  letter-spacing: -0.08px;
  padding: 24px 0;
}

.powered-by {
  color: #767676;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 10px;
}

.powered-by img {
  border-radius: 50%;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: transform 150ms ease;
  width: 24px;
  height: 24px;
}

.powered-by:hover img {
  transform: scale(1.1);
}

.async-image {
  opacity: 0;
  transition: 150ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.async-image.loaded {
  opacity: 1;
}

@media screen and (max-width: 40rem) {
  .playlist .icon.desktop {
    display: none;
  }

  .playlist .icon.mobile {
    display: inline-block;
    margin-right: 8px;
    vertical-align: sub;
  }

  .playlist h4 {
    display: inline-block;
  }

  .playlist .button {
    width: 100%;
  }

  .column {
    margin-bottom: 24px;
  }
}
